body{
    padding: 0;
    margin: 0;
}

.all-button{
        background-color: #0f5132;
        color: white;
        border-radius: 8px;
        text-decoration: none;
        padding: 8px;
        font-weight: bolder;
        text-align: center;
    }
